#bloc_page
{
	max-width: 768px;
	width: 100%;
	margin:0px;	
}
header
{
	flex-wrap: wrap;

}
.menu
{
	position: relative;
}
#sinscrire
{
	position: absolute;
	right: 0px;
	top:25px;
}


/*Première section avec champs de recherche et barre des filtres et section populaire*/

.loupe
{
	display: inline-block;
	background-color: #0065FC;
	border:#0065FC;
	color:white;
	font-weight: bold;
	padding:15px;
	height:auto;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	outline: none;
	cursor: pointer;
}
#bouton
{
	display: none;
}
#filtres
{
	width:100%;
}
#resultats_de_la_recherche
{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
aside
{
	padding-top:35px;
	padding-left: 0px;
	padding-right: 0px; 
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 33px;
}
.colonneaside
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	width: 86%;
	align-items: center;
}
.resultataside
{
	width: 100%;
	height: 27%;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	box-shadow: 0px 0px 12px 2px #00000045;	
}
.image_info /*regroupe imageaside et infohotelaside*/
{
	display:flex;
	justify-content: start;
	height: 100%;
}
.imageaside
{
	width: 130px;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	object-fit: cover;
}
.infohotelaside
{
	margin-left:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Deuxième section avev hebergement à marseille*/	

#hebergementresult
{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.resultathotel
{
	width: 100%;
	margin:10px;
}
.premiereligne , .deuxiemeligne /*hebergement card*/
{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	height:100%;
	padding-bottom: 10px;
}


/*Troisième section activités à Marseille*/

#all_activity
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#vieux_port, #pomegues_frioul, #notredame_longchamp, #calanques
{
	width:80%;
	margin-bottom: 10px;
}
#pomegues, #frioul, #notredame, #longchamp
{
	margin-bottom: 10px;
}
.image_vieux_port, .image_pomegues, .image_frioul, .image_calanques, .image_notredame, .image_longchamp
{
	height: 170px;
	
}
footer
{
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	padding:10px;
}

	


