#bloc_page
{
	max-width: 768px;
	width: 100%;
	margin:0px;	
}
header
{
	flex-wrap: wrap;

}
header ul li 
{
	padding:0px;
}
nav
{

	width: 100%;	
}
nav ul
{
	list-style-type: none;
	padding-top:0px;
	width: 100%;
}

#menu_general
{
	text-decoration: none;
	width: 100%;
	padding-left: 0px;
	display: flex;
}
#filtres h2
{
	width: 100%;
}
li.menu
{
	border-bottom:2px #f2f2f2 solid;
	padding-bottom: 10px;
	width: 100%;
}
li.menu:hover
{
	border-bottom:2px #0065FC solid;
}
.menu
{
	width: 50%;
	text-align: center;
	margin:auto;
}
.menu a:hover
{
	color:#0065FC;
	
	width: 100%;
	border-top:0px;
}

#sinscrire
{
	position: absolute;
	right: 0px;
	top:25px;
}
/*Première section avec champs de recherche et barre des filtres et section populaire*/

.loupe
{
	display: inline-block;
	background-color: #0065FC;
	border:#0065FC;
	color:white;
	font-weight: bold;
	padding:13px;
	height:auto;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	outline: none;
	cursor: pointer;
}
.barre_recherche
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#bouton
{
	display: none;
}
#filtres
{
	width:100%;
}
.categorie
{
	display:flex;
	margin-right: 0px;
	margin-left: 18px;
	margin-bottom: 10px;
	border:2px #f2f2f2 solid;
	border-radius:25px;
	padding-right:15px;
	cursor: pointer;	
}
#information
{
	
	align-items: flex-start;
}

#information p
{
	margin-top:3px;
}
#resultats_de_la_recherche
{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

aside
{
	padding-top:35px;
	padding-left: 0px;
	padding-right: 0px; 
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 33px;
}
.colonneaside
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	width: 86%;
	align-items: center;
}
.resultataside
{
	width: 100%;
	height: 27%;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	box-shadow: 0px 0px 12px 2px #00000045;	
}
.image_info /*regroupe imageaside et infohotelaside*/
{
	display:flex;
	justify-content: start;
	height: 100%;
}
.imageaside
{
	width: 130px;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	object-fit: cover;
}
.infohotelaside
{
	margin-left:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Deuxième section avev hebergement à marseille*/	

#hebergementresult
{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding-top:35px;
	padding-left: 10px;
	padding-right:10px;
}
#hebergement_card
{
	display: flex;
    justify-content: center; 
    flex-direction: column;
    width: 100%;
    height:90%; 
}
.resultathotel
{
	width: 100%;
	margin-bottom:10px;
	padding:0px;
    box-shadow: 0px 0px 12px 2px #00000021;
}

.resultathotel .card
{
	display:inline-block;
	height:100%;
	padding:7px;
}
.premiereligne , .deuxiemeligne /*hebergement card*/
{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	height:100%;
	padding-bottom: 10px;
}
h4
{
	padding-bottom: 10px;
	padding-top: 0px;
	font-size:1.2em;
}

/*Troisième section activités à Marseille*/
.activites_a_marseille
{
	width: 95%;
	margin:auto;
}
#all_activity
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#vieux_port, #pomegues_frioul, #notredame_longchamp, #calanques
{
	width:100%;
	margin-bottom: 10px;
}
#pomegues, #frioul, #notredame, #longchamp
{
	margin-bottom: 10px;
}
.image_vieux_port, .image_pomegues, .image_frioul, .image_calanques, .image_notredame, .image_longchamp
{
	height: 115px;
	
}
footer
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f2f2f2;
	padding:10px;
}
footer ul
{
	padding-left: 0px;
	width: 100%;
}
	


