@font-face 
{
    font-family: 'ralewayregular';
    src: url('raleway-regular.woff2') format('woff2'),
         url('raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold.woff2') format('woff2'),
         url('raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src:url('Raleway-ExtraBold.woff') format('woff'),
        url('Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
        url('Raleway-ExtraBold.eot'),
        url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
	font-family: 'ralewayregular';
	
}
#bloc_page
{
	max-width:1440px;
	margin:20px;
}
h1,h2,h3, .nomhotel, h4, h5
{
	font-family:'ralewaybold';
	
}
h2
{
	font-size:0.9em;
	
}

/*header*/

header
{
	display:flex;
	justify-content: space-between;
}
#menu_general
{
	text-decoration: none;
}
.menu a:hover
{
	color:#0065FC;
	border-top:2px #0065FC solid;
	padding-top: 45px;
}
nav ul
{
	display:flex;
	list-style-type: none;
	padding-top:15px;

}
header ul li 
{
	padding-right:18px;
	padding-left:18px;
}
.menu a
{
	text-decoration: none;
	color:black;
	
}	
#sinscrire a
{
	font-weight: bold;
	color:#0065FC;
	text-decoration: none;
}
#sinscrire a:hover
{
	border-top:2px #0065FC solid;
	padding-top: 45px;
}
a
{
	text-decoration: none;
	color:black;
}
a:hover
{
	color:#0065FC;
}


/*Première section avec champs de recherche et barre de filtres*/
.barre_recherche
{
	display: flex;
	align-items: center;
}
.iconelocalisation
{
	background-color: #F2F2F2;
	padding:15px;
	height:auto;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px 0px 0px 15px;
	
}
#recherche
{
	padding:10px;
	border:none;
	font-weight: bold;
}
#bouton
{
	
	background-color: #0065FC;
	border:#0065FC;
	color:white;
	font-weight: bold;
	padding:15px;
	height:auto;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
	outline: none;
	cursor: pointer;

}
.loupe
{
	display: none;
}

#filtre
{
	margin-top:25px;
	display:flex;
	flex-wrap: wrap;


}
.categorie
{
	display:flex;
	margin-right: 18px;
	margin-left: 18px;
	border:2px #f2f2f2 solid;
	border-radius:25px;
	padding-right:15px;
	cursor: pointer;
	
}
.categorie:hover
{
	background-color:#f2f2f2;

}
.icone_categorie
{
	color:#0065FC;
	background-color: #DEEBFF;
	padding:15px;
	border-radius: 20px;
	margin-right:10px;
	width:20px;
	height:16px;
	text-align: center;
}
#information
{
	display:flex;
	align-items: center;
	margin-top:15px;
	margin-bottom: 25px;
	
}
.icone_information
{
	display: flex;
	justify-content: center;
	color:#0065FC;
	border:2px solid #f2f2f2;
	border-radius: 50px;
	padding: 10px;
	text-align: center;
	margin-right: 15px;
	width: 3px;
	height: 3px;
	align-items: center;
}

/* Deuxième section affichant le résultat de la recherche*/
.card
{
	display:inline-block;
	height:100%;
}
#resultats_de_la_recherche
{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
#hebergementresult
{
	background-color:#f2f2f2;
	border-radius:10px;
	width:63%;
	height: 100%;
	padding-top:35px;
	padding-left: 40px;
	padding-right:40px;
		
}
h3
{
	font-size:1.3em;
	
}
span
{
	font-weight: bold;
}
#hebergement_card
{
	display: flex;
    justify-content: space-between ;
    flex-direction: column;
    width: 100%;
    height:90%; 
}
.premiereligne , .deuxiemeligne /*hebergement card*/
{
	display:flex;
	justify-content:space-between;
	height:100%;
	padding-bottom: 10px;
	
}	
.imagehotel
{

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:100%;
	height:113px;
	
	object-fit: cover;	
}
.resultathotel
{
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:30%;
	height:50% ;
	box-shadow: 0px 0px 12px 2px #00000045;
}

.blue
{
	color:#0065FC;
}
.grey
{
	color:#f2f2f2;
}
h4
{
	padding-bottom: 10px;
	padding-top: 10px;
	font-size:1.2em;
}

/*Section de droite*/

aside
{
	background-color:#f2f2f2;
	border-radius:10px;
	padding-top:35px;
	padding-left: 10px;
	padding-right: 10px; 
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 33px;
	align-items: center;


}
#asidehead
{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 86%;
}
.icone_chart
{
	font-size: 1.5em;
	align-items: center;
}
.colonneaside
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
	width: 86%;
	align-items: center;

}
.resultataside
{
	width: 100%;
	height: 27%;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	box-shadow: 0px 0px 12px 2px #00000045;
	
}
.image_info /*regroupe imageaside et infohotelaside*/
{
	display:flex;
	justify-content: start;
	height: 100%;
}
.imageaside
{
	width: 130px;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	object-fit: cover;

}
.infohotelaside
{
	margin-left:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.etoiles
{
	margin-bottom: 10px;
}


/*Troisième section activités à Marseille*/


#all_activity{

	display:flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}
#vieux_port 
{
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:23%;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}

.image_vieux_port
{
	width: 100%;
	height: 386px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
	object-fit: cover;
}
#pomegues_frioul, #notredame_longchamp /**colonne avec les deux offres verticales**/
{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 23%;

}
#pomegues 
{
	margin-bottom: auto;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:100%;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
	
.image_pomegues 
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:100%;
	height: 170px;
	object-fit: cover;
	align-items: center;
}
#frioul 
{
	display:flex;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 12px 2px #00000045;
	width: 100%;
	height: auto;

}
.image_frioul 
{
	width: 100%;
	height: 109px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;	
}
#calanques
{
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:23%;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
.image_calanques
{
	width: 100%;
	height: 386px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}
#notredame
{
	
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:100%;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
.image_notredame
{
	width: 100%;
	height: 135px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}
#longchamp
{
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:100%;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
	margin-top:auto;
}
.image_longchamp
{
	width: 100%;
	height: 153px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;
}
.nom_activites
{
	font-family:Raleway-ExtraBold;
	margin-left:10px;
}

/**FOOTER**/

footer
{
	background-color: #f2f2f2;
	margin-top:45px;
	display: flex;
	justify-content:flex-start;
}

h5
{
	font-size: 1em;
}
footer ul 
{

	list-style-type: none;
	margin-right:135px;

}
li
{
	margin:10px;
}


