@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular.woff2') format('woff2'),
         url('raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold.woff2') format('woff2'),
         url('raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src:url('Raleway-ExtraBold.woff') format('woff'),
        url('Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
        url('Raleway-ExtraBold.eot'),
        url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
	font-family: 'ralewayregular';
	
}
#bloc_page
{
	margin:20px;
}
h1,h2,h3, .nomhotel
{
	font-family:Raleway-ExtraBold;
	
}

h2
{
	font-size:0.9em;
	
}
/*header*/

header
{
	display:flex;
	justify-content: space-between;
}
nav a:hover
{
	color:#0065FC;
	border-top:2px #0065FC solid;
	padding-top: 25px;
}
nav ul
{
	display:flex;
	list-style-type: none;
	padding-top:15px;

}
ul li
{
	padding-right:18px;
	padding-left:18px;
}
a
{
	text-decoration: none;
	color:black;
	
}	
#sinscrire
{
	font-weight: bold;
	color:#0065FC;
}

/*Première section avec champs de recherche et barre de filtres*/

.iconelocal
{
	background-color: #F2F2F2;
	padding:15px;
	height:auto;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px 0px 0px 15px;
	
}
#recherche
{
	padding:10px;
	border:none;
	font-weight: bold;
}
#bouton
{
	
	background-color: #0065FC;
	border:#0065FC;
	color:white;
	font-weight: bold;
	padding:15px;
	height:auto;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
}

#filtre
{
	margin-top:25px;
	display:flex;
}
.categorie
{
	display:flex;
	margin-right: 18px;
	margin-left: 18px;
	border:2px #f2f2f2 solid;
	border-radius:25px;
	padding-right:15px;
	
}
.categorie:hover
{
	background-color:#f2f2f2;
}
.tri
{
	color:#0065FC;
	background-color: #DEEBFF;
	padding:15px;
	border-radius: 20px;
	margin-right:10px;
	width:20px;
	height:16px;
	text-align: center;
}
#information
{
	display:flex;
	
}
.iconeinfo
{
	color:white;
	border: 2px #F2F2F2 solid;
	border-radius:200px;
	padding:1px;
	margin-top:auto;
	margin-bottom: auto;
	font-size:1.5em;
	background-color:#0065FC;
	margin-right: 10px;
	vertical-align: middle;
}
/* Deuxième section affichant le résultat de la recherche*/

#hebergementresult
{
	background-color:#f2f2f2;
	border-radius:10px;
	width:75%;
	position: relative;
	
}
h3
{
	font-size:1.3em;
	padding-top:25px;
	padding-left:25px;
}
#hebergement
{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.premiereligne , .deuxiemeligne
{
	display:flex;
	justify-content:space-around;
	margin:15px;

}	

.imagehotel
{

	width:100%;
	height:50%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
.resultathotel
{
	margin:10px;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	

	
}
.infohotel
{
	margin-left:10px;
	margin-bottom: 10px;
}
.blue
{
	color:#0065FC;
}
.grey
{
	color:#f2f2f2;
}