@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular.woff2') format('woff2'),
         url('raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold.woff2') format('woff2'),
         url('raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src:url('Raleway-ExtraBold.woff') format('woff'),
        url('Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
        url('Raleway-ExtraBold.eot'),
        url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body
{
	font-family: 'ralewayregular';
	
}
#bloc_page
{
	margin:20px;
}
h1,h2,h3, .nomhotel, h4
{
	font-family:Raleway-ExtraBold;
	
}

h2
{
	font-size:0.9em;
	
}
/*header*/

header
{
	display:flex;
	justify-content: space-between;
}
nav a:hover
{
	color:#0065FC;
	border-top:2px #0065FC solid;
	padding-top: 45px;
}
nav ul
{
	display:flex;
	list-style-type: none;
	padding-top:15px;

}
ul li
{
	padding-right:18px;
	padding-left:18px;
}
a
{
	text-decoration: none;
	color:black;
	
}	
#sinscrire
{
	font-weight: bold;
	color:#0065FC;
}

/*Première section avec champs de recherche et barre de filtres*/

.iconelocal
{
	background-color: #F2F2F2;
	padding:15px;
	height:auto;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px 0px 0px 15px;
	
}
#recherche
{
	padding:10px;
	border:none;
	font-weight: bold;
}
#bouton
{
	
	background-color: #0065FC;
	border:#0065FC;
	color:white;
	font-weight: bold;
	padding:15px;
	height:auto;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
}

#filtre
{
	margin-top:25px;
	display:flex;
}
.categorie
{
	display:flex;
	margin-right: 18px;
	margin-left: 18px;
	border:2px #f2f2f2 solid;
	border-radius:25px;
	padding-right:15px;
	
}
.categorie:hover
{
	background-color:#f2f2f2;
}
.tri
{
	color:#0065FC;
	background-color: #DEEBFF;
	padding:15px;
	border-radius: 20px;
	margin-right:10px;
	width:20px;
	height:16px;
	text-align: center;
}
#information
{
	display:flex;
	align-items: center;
	margin-top:15px;
	margin-bottom: 25px;
	
}
.iconeinfo
{
	display: flex;
	justify-content: center;
	color:#0065FC;
	border:2px solid #f2f2f2;
	border-radius: 50px;
	padding: 10px;
	text-align: center;
	margin-right: 15px;
	width: 3px;
	height: 3px;
	align-items: center;
}

/* Deuxième section affichant le résultat de la recherche*/
#resultats
{
	display:flex;
	justify-content: space-between;
}
#hebergementresult
{
	background-color:#f2f2f2;
	border-radius:10px;
	width:70%;
	position: relative;
	
}
h3
{
	font-size:1.3em;
	margin-top:35px;
	margin-left:40px;
}
#hebergement
{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.premiereligne , .deuxiemeligne /*hebergement*/
{
	display:flex;
	justify-content:space-around;
	margin:15px;


}	

.imagehotel
{

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:265px;
	height: 113px;
	position: relative;
	object-fit: cover;
	
	
}

.resultathotel
{
	margin:10px;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	
	width:265px;
	height: 215px;
	box-shadow: 0px 0px 12px 2px #00000045;
	

}
.infohotel
{
	margin-left:10px;
	margin-bottom: 30px;
	vertical-align: middle;

}
.blue
{
	color:#0065FC;
}
.grey
{
	color:#f2f2f2;
}
h4
{
	margin-left:40px;
	padding-bottom: 10px;
	padding-top: 10px
	font-size:1.2em;
}
aside
{
	background-color:#f2f2f2;
	border-radius:10px;
	
	position: relative;
}
#asidehead
{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.icone_chart
{
	font-size: 1.5em;
	justify-content: center;
	margin-right:10px;

}
.resultataside
{
	width: 340px;
	height: 140px;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom:50px;
	margin-top: 20px;
	background-color: white;
	padding:7px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex:2;
	box-shadow: 0px 0px 12px 2px #00000045;
	
}
.image_info
{
	display:flex;
	justify-content: start;
}
.imageaside
{
	width: 130px;
	height: 140px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	object-fit: cover;
	
}
.infohotelaside
{
	margin-left:10px;
}

/**Troisième section activités à Marseille**/
.all_activity
{
	display:flex;
	justify-content: space-between;
	margin:auto;
}
#vieux_port 
{
	margin:10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:303px;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}

.image_vieux_port
{
	width: 303px;
	height: 386px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
}
#pomegues_frioul 
{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;

}
#pomegues 
{
	
	margin:10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:306px;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
	
.image_pomegues 
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:306px;
	height: 170px;
	object-fit: cover;
	align-items: center;
}
#frioul 
{
	display:flex;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 12px 2px #00000045;
	width: 301px;
	height: auto;
}
.image_frioul 
{
	width: 301px;
	height: 109px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	object-fit: cover;	
}
#calanques
{
	margin:10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:303px;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
.image_calanques
{
	width: 303px;
	height: 386px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#notredame_longchamp
{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;

}
#notredame
{
	margin:10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:305px;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
.image_notredame
{
	width: 305px;
	height: 135px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#longchamp
{
	margin:10px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width:305px;
	height: auto;
	box-shadow: 0px 0px 12px 2px #00000045;
}
.image_longchamp
{
	width: 305px;
	height: 153px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.nom_activites
{
	font-family:Raleway-ExtraBold;
	margin-left:10px;
}

/**FOOTER**/

footer
{
	display: flex;
	background-color: #f2f2f2;
	justify-content: space-between;
	align-items: center;
	margin-top:25px;
}

ul li
{
	list-style-type: none;
}
li
{
	margin:10px;
}

.bloc_footer
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
